* {
  box-sizing: border-box;
}

.ant-card {
  border-radius: 10px !important;
}

.ant-modal-body {
  color: rgba(0, 0, 0, 0.836) !important;
}

.particles {
  position: absolute;
  width: 90vw;
  height: 90vh;
}