.another-person {
  .ant-modal-body {
    display: flex;
    flex-flow: column wrap;
  }

  .share {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    max-width: 300px;

    p {
      margin-top: 0;
      margin-bottom: 0.3em;
    }

    div {
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }

    .link,
    .pass {
      width: 100%;
      text-align: center;
    }

    .ant-alert {
      cursor: pointer;
      margin-bottom: 15px;
      max-width: 300px;
    }

    canvas {
      align-self: center;
      margin-bottom: 20px;
    }

    .share-buttons {
      display: flex;
      width: 100%;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
    }
  }
}
