.giftery-wrapper {
  display: flex;
  flex-flow: column wrap;

  .disclaimer {
    flex-flow: column wrap;
    max-height: 200px;
    max-width: 100%;
    overflow: auto;
    margin-bottom: 10px;
    border: 1px solid #b1b5ac;
    padding: 5px;

    &::-webkit-scrollbar-track
    {
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar
    {
      width: 6px;
      height: 8px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #000000;
    }
  }

  .send-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    .price {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      p {
        &:first-of-type {
          margin-right: 7px;
        }

        &:last-of-type {
          font-weight: 600;
        }
      }
    }

    .coin-val {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 10px;

      .coin {
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        margin-right: 10px;
      }

      .amount {
        display: flex;
        flex-flow: column wrap;
      }
    }

    .field {
      margin-bottom: 16px;
    }

    textarea {
      resize: none;
    }
  }
}
