.wallet-password {
  .ant-card {
    min-width: 300px;

    &-body {
      display: flex;
      flex-flow: column wrap;

      .actions {
        margin-top: 15px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
      }
    }
  }
}
