.header {
  display: flex;
  flex-flow: row nowrap;
  background-color: #fff;
  justify-content: space-between;

  .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;

    img {
      margin-right: 1rem;
      -webkit-user-drag: none;
      cursor: pointer;
    }

    h2 {
      margin-top: 8px;
      cursor: pointer;
    }
  }

  .lng {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    span {
      margin-left: 5px;
    }
  }
}

.ant-layout-header {
  padding: 0 25px;
}
