.header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  .ant-select-selection--single {
    background-color: unset;
  }

  .logo {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    user-select: none;
    max-width: 70%;

    img {
      margin-right: 1rem;
      -webkit-user-drag: none;
      cursor: pointer;
    }

    h2 {
      margin-top: 8px;
      cursor: pointer;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
    }
  }

  .lng {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    span {
      margin-left: 5px;
    }
  }
}

.ant-layout-header {
  padding: 0 25px;
  background: none;
}

@media screen and (max-width: 600px) {
  .header .logo h2 {
    font-size: 1rem;
  }
}
