.perekrestok {
  display: flex;
  flex-flow: column wrap;

  .send-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    .price {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      p {
        &:first-of-type {
          margin-right: 7px;
        }

        &:last-of-type {
          font-weight: 600;
        }
      }
    }

    .coin-val {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 10px;

      .coin {
        display: flex;
        flex-flow: column wrap;
        flex: 1;
        margin-right: 10px;
      }

      .amount {
        display: flex;
        flex-flow: column wrap;
      }
    }

    .field {
      margin-bottom: 16px;
    }

    textarea {
      resize: none;
    }
  }
}
