.phone {
  display: flex;
  flex-flow: column wrap;

  .send-form {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;

    .coin-val {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
      }

      .coin {
        display: flex;
        flex-flow: column wrap;
        flex: 2;
        margin-right: 10px;
      }

      .amount {
        flex: 1;
        display: flex;
        flex-flow: column wrap;
      }

      .ant-input-number {
        width: unset !important;
      }
    }

    .field {
      margin-bottom: 16px;
    }

    .total {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;

      .red {
        color: red;
      }

      p {
        margin-left: 5px;
      }
    }
  }
}
