.multi-main {
  display: flex;
  flex-flow: column wrap;
  flex: 1;
  width: 100%;
  max-width: 1200px;

  .row {
    display: flex;
    flex-flow: row wrap;
  }

  .ant-card {
    border-radius: 1px !important;
    margin: 10px;
    &-body {
      padding: 16px;
    }
  }

  .preset-content {
    .row {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .actions {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin-top: 10px;
      margin-bottom: 10px;

      button {
        margin-right: 10px;
      }
    }
  }

  .stat {
    .ant-card-body {
      width: 100%;
      min-height: 80vh;

      div {
        width: unset !important;
        height: unset !important;
        max-height: 400px;
      }
    }
  }

  .wallet {
    .address {
      cursor: pointer;
      color: rgb(17, 5, 122);
    }

    .actions {
      margin-top: 10px;
      width: 100%;
      align-self: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
    }

    .ant-btn {
      &:last-of-type {
        margin-left: 10px;
      }
    }
  }

  .multi-info {
    .stats {
      margin-top: 20px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-evenly;
    }

    .link {
      cursor: pointer;
      color: rgb(25, 38, 228);
    }
  }

  .table-switches {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 30px;
    margin-bottom: 0;

    .refresh {
      margin-right: 0 auto;
    }

    .item {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;

      p {
        padding-top: 12px;
        margin-right: 5px;
      }

      + .item {
        margin-left: 15px;
      }
    }
  }

  .wallet-table {
    margin: 10px;
    background-color: #fff;
    max-width: 100%;
  }

  .params-form {
    .field {
      display: flex;
      flex-flow: column wrap;
      margin-top: 10px;
    }

    label {
      margin-bottom: 5px;
    }

    .ant-select {
      width: 100%;
    }

    .actions {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-top: 10px;
    }

    .coin-val {
      display: flex;
      flex-flow: row nowrap;
      margin-bottom: 10px;
      margin-top: 15px;

      .coin {
        display: flex;
        flex-flow: column wrap;
        flex: 2;
        margin-right: 10px;
      }

      .amount {
        flex: 1;
        display: flex;
        flex-flow: column wrap;
      }

      .ant-input-number {
        width: unset !important;
      }
    }
  }

  .ant-table-thead > tr > th {
    text-align: center;
  }

  .ant-table-tbody {
    td {
      text-align: center;
    }
  }

  .ant-table-body {
    overflow-x: auto !important;
  }
}

.share-modal {
  .ant-modal-body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .share {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 300px;

    p {
      margin-top: 0;
      margin-bottom: 0.3em;
    }

    div {
      &:not(:last-of-type) {
        margin-bottom: 5px;
      }
    }

    .link,
    .pass {
      width: 100%;
      text-align: center;
    }

    .ant-alert {
      cursor: pointer;
      margin-bottom: 15px;
      max-width: 300px;
    }

    canvas {
      align-self: center;
      margin-bottom: 20px;
    }

    .share-buttons {
      display: flex;
      width: 100%;
      margin-top: 15px;
      flex-flow: row nowrap;
      justify-content: space-evenly;
      align-items: center;
    }

    .email {
      display: flex;
      flex-flow: row nowrap;
    }
  }
}

.edit-modal {
  .edit-wallet {
    display: flex;
    flex-flow: column wrap;

    .send-form {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;

      label {
        margin-bottom: 5px;
      }

      .coin-val {
        display: flex;
        flex-flow: row nowrap;
        margin-bottom: 10px;

        .coin {
          display: flex;
          flex-flow: column wrap;
          flex: 2;
          margin-right: 10px;
        }

        .amount {
          flex: 1;
          display: flex;
          flex-flow: column wrap;
        }

        .ant-input-number {
          width: unset !important;
        }
      }

      .ant-input-group-addon {
        cursor: default;
        span {
          display: flex;
          flex-flow: row;
          justify-content: center;
          align-items: center;
        }
        img {
          width: 15px;
          height: 15px;
          margin-left: 5px;
        }
      }

      .field {
        margin-bottom: 16px;
      }

      textarea {
        resize: none;
      }
    }
  }
}

.multi-main > .actions {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-bottom: 0;
  margin-top: 20px;

  button {
    margin-right: 7px;
    margin-top: 10px;
  }
}

.sheets-modal {
  .sheets {
    display: flex;
    flex-flow: column wrap;

    .description {
      margin-bottom: 10px;
      p {
        margin-bottom: 0;
      }

      strong {
        margin-bottom: 10px !important;
      }

      a {
        line-height: 40px;
      }
    }

    .field {
      display: flex;
      flex-flow: column wrap;
      label {
        margin-bottom: 7px;
        font-weight: 600;
      }
    }
  }
}
