.shops {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;

  .transfer-card {
    margin: 15px;
  }
}

@media screen and (max-width: 600px) {
  .shops {
    flex-flow: row nowrap;
    overflow-x: scroll;
    justify-content: flex-start;
  }

  .transfer-card {
    display: flex;
    flex: 1;
    min-width: 140px;
    max-width: 140px !important;
    margin: 10px !important;
  }
}

.transfer-card {
  display: flex;
  flex-flow: column wrap;
  border-radius: 10px;
  max-width: 170px;
  flex: 1 0 21%;
  transition: 0.5s;
  margin: 15px;

  &:hover {
    background-color: #F8F8F8;
    border: 3px solid #FC9E0F !important;
    cursor: pointer;
  }

  .ant-card-body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;

    h3 {
      line-height: 1.3rem;
      margin-top: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &.disabled {
    opacity: 0.6;

    &:hover {
      background-color: #fff;
      border: 1px solid #e8e8e8;
      cursor: not-allowed;
    }
  }

  .ant-modal-mask {
    background-color: rgba(0, 0, 0, 0.65);
  }
}
