.history-view {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  padding: 15px;

  .list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }

  .item {
    display: flex;
    flex-flow: column wrap;
    margin: 10px;
    padding: 10px;
    background-color: #fff;
    width: 300px;
    border-radius: 5px;

    .label {
      margin-top: 5px;
      padding-top: 5px;
      //border-top: 1px solid #636363;
      color: #9fa2a0;
    }
  }
}

@media screen and (max-width: 600px) {
  .history-view .item {
    width: 100%;
  }
}
