.ant-layout-footer {
  display: flex;
  flex-flow: column wrap;
  background: rgb(245, 245, 245);

  .content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-bottom: 1rem;

    button + button {
      margin-left: 10px;
    }
  }
}

.history {
  display: flex;
  flex-flow: column wrap;

  .actions {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;

    button {
      &+button {
        margin-left: 10px;
      }
    }
  }
}
